<h1>Word Counter!</h1>
    <form action="/result" method="post">
      <label for="new-word">Enter a word</label>
      <input id="new-word" name="new-word" type="text">
      <label for="new-sentence">Enter a sentence</label>
      <input id="new-sentence" name="new-sentence" type="text">
      <button type="submit">Submit</button>
    </form>
