<h1>Word Counter!</h1>
    <!-- <form action="/result" method="post">
      <label for="word">Enter a word</label>
      <input id="word" name="word" type="text">
      <label for="sentence">Enter a sentence</label>
      <input id="sentence" name="sentence" type="text">
      <button type="submit">Submit</button>
    </form>
  </body> -->
